*{
  margin: 0;
  padding: 0;
}
.navbar-brand img{
    width: 200px;
    height: 60px;
}
.headline{
    font-family:'Courier New', Courier, monospace
}
#menu .theme-toggle {
  background-color: black;
 color: white;
}
.folder-list a{
    text-decoration: none;
    color: black;
}
.about p{
  text-align: justify;
  line-height: 30px;
}
.app {
  transition: color 0.3s;
}
.footer p{
  margin-bottom: 0;
}
/* Light Mode */
.app.light {
  background-color:rgb(151, 216, 242);
  color:black;
 
}
.app.light .task form, .app.light .list-group {
  border: 2px solid black;
}
.app.light .add-task, .app.light .task-list, .app.light .about{
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
/* Dark Mode */
.app.dark .header, .app.dark .footer {
  background-color: white;
 color: black;
}
.app.dark, .app.dark .list-group-item{
  background-color: black;
  color: white;
 
}

.app.dark .modal-title{
  color: black;
}
.app.dark .task form, .app.dark .list-group {
  border: 2px solid white;
}
.app.dark .add-task, .app.dark .task-list, .about{
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}


